@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

*, button, input, textarea {
  border: 0;
  outline: 0;
  line-height: 20px;
}