@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
  font-family: 'Inter', sans-serif;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

*, button, input, textarea {
  border: 0;
  outline: 0;
  line-height: 20px;
}

.swal-modal {
  border-radius: 12px;
  padding: 0 28px;
}

.swal-title {
  text-align: left;
  font-size: 1.3rem;
  color: #191847;
}

.swal-text {
  font-size: 1rem;
  color: #191847;
  padding: 0 7px;
  width: 100%;
}

.swal-footer {
  padding-right: 0;
}

.swal-button {
  background-color: rgba(25, 24, 71, 0.4);
  border-radius: 5px;

  &:active {
    background-color: rgba(25, 24, 71, 0.4);
  }

  &:not([disabled]):hover {
    background-color: rgba(25, 24, 71, 0.2);
  }

  &:hover {
    background-color: rgba(25, 24, 71, 0.2);
  }

  &:focus {
    box-shadow: none;
  }
}

.swal-button--cancel {
  background-color: rgba(25, 24, 71, 0.4);
  color: #FFFFFF;

  &:hover {
    background-color: rgba(25, 24, 71, 0.2) !important;
  }
}

.swal-button--danger {
  background-color: rgba(43, 68, 255, 1) !important;

  &:hover {
    background-color: rgba(43, 68, 255, 0.5) !important;
  }
}